.tooltip {
    background-color: dimgrey;
    border: none;
    border-radius: 8px;
    color: snow;
    display: none;
    /* font: 12px sans-serif; */
    /* font-size: medium; */
    opacity: 0.85;
    padding: 5px;
    pointer-events: none;
    /* 阻止鼠标事件，mouseup生效 */
    position: absolute;
    text-align: center;
    width: fit-content;
    z-index: 1000;
}